redirects: force
source https://www.nuget.org/api/v2/
framework: netstandard2.0

nuget FAKE
nuget Deedle
nuget Expecto
nuget WindowsAzure.Storage
nuget FSharp.Charting
nuget FSharp.Formatting
nuget FSharp.Core
nuget Newtonsoft.Json
nuget Nuget.CommandLine
nuget Unquote
nuget System.Net.Http

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs
