redirects: on
source https://www.nuget.org/api/v2/
framework: net452

nuget FAKE
nuget Nuget.CommandLine
nuget Unquote
nuget WindowsAzure.Storage 6.0.0
nuget FSharp.Formatting
nuget Deedle
nuget FSharp.Core 4.0.0.1
nuget Newtonsoft.Json 6.0.8
nuget Microsoft.Data.OData 5.6.4
nuget Microsoft.Data.Services.Client 5.6.4
nuget Microsoft.Azure.KeyVault.Core 1.0
nuget FSharp.Charting
nuget Expecto

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs
